body {
  margin: 10;
  padding:10;
  background: rgba(0, 0, 0, 0.9);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
}


ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0; 
}

ul li {
  list-style: none;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  animation: grow 1.6s ease-in-out infinite;
}

@keyframes grow {
  0% ,
  40% ,
  100% { transform:scale(0.2); }
  20% { transform:scale(1); }
}
